RPC_L2_URL=https://starknet-sepolia.public.blastapi.io
RPC_L3_URL=https://madara-l2-l3.karnot.xyz/  

ACCOUNT_L2_ADDRESS=0x0...
ACCOUNT_L2_PRIVATE_KEY=0x0..

ACCOUNT_L3_ADDRESS=0x0...
ACCOUNT_L3_PRIVATE_KEY=0x0..
